<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
    
    <task:scheduled-tasks>
		<task:scheduled ref="analyseService" method="analyse" cron="0 48 15 * * ?" />
	</task:scheduled-tasks>
    
    <!-- actions -->
    <bean id="userBarAction" class="edu.nju.bookHouse.action.UserBarAction">
	</bean>
	
    <bean id="customerRegisterAction" class="edu.nju.bookHouse.action.CustomerRegisterAction">
    	<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
    <bean id="customerLoginAction" class="edu.nju.bookHouse.action.CustomerLoginAction">
    	<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
    <bean id="adminLoginAction" class="edu.nju.bookHouse.action.AdminLoginAction">
    	<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
    <bean id="managerLoginAction" class="edu.nju.bookHouse.action.ManagerLoginAction">
    	<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
    <bean id="homepageAction" class="edu.nju.bookHouse.action.HomepageAction">
    	<property name="categoryService">
			<ref bean="categoryService" />
		</property>
    	<property name="bookService">
			<ref bean="bookService" />
		</property>
	</bean>
	
	<bean id="addBook" class="edu.nju.bookHouse.action.AddBookAction">
    	<property name="categoryService">
			<ref bean="categoryService" />
		</property>
		<property name="bookService">
			<ref bean="bookService" />
		</property>
	</bean>
	
	<bean id="collectBookAction" class="edu.nju.bookHouse.action.CollectBookAction">
    	<property name="collectedBookService">
			<ref bean="collectedBookService" />
		</property>
	</bean>
	
	<bean id="bookInCartAction" class="edu.nju.bookHouse.action.AddBookToCartAction">
    	<property name="bookInCartService">
			<ref bean="bookInCartService" />
		</property>
	</bean>
	
	<bean id="myCartAction" class="edu.nju.bookHouse.action.MyCartAction">
    	<property name="bookInCartService">
			<ref bean="bookInCartService" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
	<bean id="myFavoritesAction" class="edu.nju.bookHouse.action.MyFavoritesAction">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
	<bean id="setCouponsAction" class="edu.nju.bookHouse.action.SetCouponsAction">
		<property name="couponsService">
			<ref bean="couponsService" />
		</property>
	</bean>
	
	<bean id="sendCouponsAction" class="edu.nju.bookHouse.action.SendCouponsAction">
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="couponsService">
			<ref bean="couponsService" />
		</property>
	</bean>
	
	<bean id="checkoutAction" class="edu.nju.bookHouse.action.CheckoutAction">
    	<property name="bookInCartService">
			<ref bean="bookInCartService" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
	<bean id="buyBookAction" class="edu.nju.bookHouse.action.BuyBookAction">
		<property name="orderService">
			<ref bean="orderService" />
		</property>
		<property name="couponsService">
			<ref bean="couponsService" />
		</property>
    	<property name="bookInCartService">
			<ref bean="bookInCartService" />
		</property>
		<property name="bookService">
			<ref bean="bookService" />
		</property>
	</bean>
	
	<bean id="myCouponsAction" class="edu.nju.bookHouse.action.MyCouponsAction">
		<property name="couponsService">
			<ref bean="couponsService" />
		</property>
	</bean>
	
	<bean id="purchaseRecordAction" class="edu.nju.bookHouse.action.PurchaseRecordAction">
		<property name="orderService">
			<ref bean="orderService" />
		</property>
	</bean>
	
	<bean id="setStateAction" class="edu.nju.bookHouse.action.ChangeStateAction">
		<property name="orderService">
			<ref bean="orderService" />
		</property>
	</bean>
	
	<bean id="inventoryAction" class="edu.nju.bookHouse.action.InventoryAction">
		<property name="inventoryService">
			<ref bean="inventoryService" />
		</property>
	</bean>
	
	<bean id="userAnalyseAction" class="edu.nju.bookHouse.action.UserAnalyseAction">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
	<bean id="promotionAction" class="edu.nju.bookHouse.action.PromotionAction">
		<property name="orderService">
			<ref bean="orderService" />
		</property>
		<property name="couponsService">
			<ref bean="couponsService" />
		</property>
	</bean>
	
	<bean id="bookAnalyseAction" class="edu.nju.bookHouse.action.BookAnalyseAction">
		<property name="bookService">
			<ref bean="bookService" />
		</property>
		<property name="categoryService">
			<ref bean="categoryService" />
		</property>
	</bean>
	
	<bean id="orderAnalyseAction" class="edu.nju.bookHouse.action.OrderAnalyseAction">
		<property name="orderService">
			<ref bean="orderService" />
		</property>
	</bean>
	
	<!-- services -->
    <bean id="userService" class="edu.nju.bookHouse.service.UserService">
    	<property name="bankService">
			<ref bean="bankService" />
		</property>
    	<property name="dateChanger">
			<ref bean="dateChanger" />
		</property>
    	<property name="userDao">
			<ref bean="userDao" />
		</property>
	</bean>
	
    <bean id="bankService" class="edu.nju.bookHouse.service.BankService">
    	<property name="bankDao">
			<ref bean="bankDao" />
		</property>
	</bean>
	
    <bean id="categoryService" class="edu.nju.bookHouse.service.CategoryService">
    	<property name="categoryDao">
			<ref bean="categoryDao" />
		</property>
	</bean>
	
    <bean id="bookService" class="edu.nju.bookHouse.service.BookService">
    	<property name="bookDao">
			<ref bean="bookDao" />
		</property>
		<property name="dateChanger">
			<ref bean="dateChanger" />
		</property>
		<property name="categoryService">
			<ref bean="categoryService" />
		</property>
	</bean>
	
	<bean id="collectedBookService" class="edu.nju.bookHouse.service.CollectedBookService">
    	<property name="collectedBookDao">
			<ref bean="collectedBookDao" />
		</property>
	</bean>
	
	<bean id="bookInCartService" class="edu.nju.bookHouse.service.BookInCartService">
    	<property name="bookInCartDao">
			<ref bean="bookInCartDao" />
		</property>
	</bean>
	
	<bean id="couponsService" class="edu.nju.bookHouse.service.CouponsService">
    	<property name="couponsDao">
			<ref bean="couponsDao" />
		</property>
	</bean>
	
	<bean id="orderService" class="edu.nju.bookHouse.service.OrderService">
    	<property name="orderDao">
			<ref bean="orderDao" />
		</property>
		<property name="dateChanger">
			<ref bean="dateChanger" />
		</property>
	</bean>
	
	<bean id="inventoryService" class="edu.nju.bookHouse.service.InventoryService">
		<property name="bookService">
			<ref bean="bookService" />
		</property>
    	<property name="inventoryDao">
			<ref bean="inventoryDao" />
		</property>
	</bean>
	
	<bean id="analyseService" class="edu.nju.bookHouse.service.AnalyseService">
		<property name="userService">
			<ref bean="userService" />
		</property>
    	<property name="inventoryService">
			<ref bean="inventoryService" />
		</property>
		<property name="categoryService">
			<ref bean="categoryService" />
		</property>
    	<property name="bookService">
			<ref bean="bookService" />
		</property>
		<property name="couponsService">
			<ref bean="couponsService" />
		</property>
		<property name="orderService">
			<ref bean="orderService" />
		</property>
	</bean>
	
	
	
	<!-- other services -->
    <bean id="dateChanger" class="edu.nju.bookHouse.service.DateChanger">
	</bean>
	
	
	<!-- DAOs -->
	<bean id="daoHelper" class="edu.nju.bookHouse.dao.DaoHelper">
	</bean>
	
	<bean id="sDaoHelper" class="edu.nju.bookHouse.dao.StaticsDaoHelper">
	</bean>
	
	<bean id="userDao" class="edu.nju.bookHouse.dao.UserDao">
    	<property name="daoHelper">
			<ref bean="daoHelper" />
		</property>
    	<property name="sDaoHelper">
			<ref bean="sDaoHelper" />
		</property>
	</bean>
	
	<bean id="bankDao" class="edu.nju.bookHouse.dao.BankDao">
    	<property name="daoHelper">
			<ref bean="daoHelper" />
		</property>
	</bean>
	
	<bean id="categoryDao" class="edu.nju.bookHouse.dao.CategoryDao">
    	<property name="daoHelper">
			<ref bean="daoHelper" />
		</property>
		<property name="sDaoHelper">
			<ref bean="sDaoHelper" />
		</property>
	</bean>
	<bean id="bookDao" class="edu.nju.bookHouse.dao.BookDao">
    	<property name="daoHelper">
			<ref bean="daoHelper" />
		</property>
		<property name="sDaoHelper">
			<ref bean="sDaoHelper" />
		</property>
	</bean>
	
	<bean id="collectedBookDao" class="edu.nju.bookHouse.dao.CollectedBookDao">
    	<property name="daoHelper">
			<ref bean="daoHelper" />
		</property>
	</bean>
	
	<bean id="bookInCartDao" class="edu.nju.bookHouse.dao.BookInCartDao">
    	<property name="daoHelper">
			<ref bean="daoHelper" />
		</property>
	</bean>
	
	<bean id="couponsDao" class="edu.nju.bookHouse.dao.CouponsDao">
    	<property name="daoHelper">
			<ref bean="daoHelper" />
		</property>
		<property name="sDaoHelper">
			<ref bean="sDaoHelper" />
		</property>
	</bean>
	
	<bean id="orderDao" class="edu.nju.bookHouse.dao.OrderDao">
    	<property name="daoHelper">
			<ref bean="daoHelper" />
		</property>
		<property name="sDaoHelper">
			<ref bean="sDaoHelper" />
		</property>
	</bean>
	
	<bean id="inventoryDao" class="edu.nju.bookHouse.dao.InventoryDao">
    	<property name="daoHelper">
			<ref bean="sDaoHelper" />
		</property>
	</bean>
</beans>